body {
  background-color: black;
  font-family: Helvetica, sans-serif;
}

.container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }

a { text-decoration: none; color:white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
